:root {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    line-height: 40px;
}

.top-of-header {
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}


img#google-logo {
    width: 92px;
    height: 30px;
}

#logo {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

form.search-bar {
    display: inline-block;
    margin-left: 40px;
    height: 44px;
}

input[type=text] {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: inherit;
    width: 690px;
}

.top-of-header-right {
    float: right;
}

.bottom-of-header {
    display: block;
    height: 30px;
    border-bottom: 1px solid red;
}

.google-products {
    display: flex;
    margin-left: 170px;
}