:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-left: 0px;
    margin-right: 0px;
}

header {
    line-height: 40px;
}

.top-of-header {
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}


img#google-logo {
    width: 92px;
    height: 30px;
}

#logo {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

form.search-bar {
    display: inline-block;
    margin-left: 40px;
    height: 44px;
}

input[type=text] {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: inherit;
    width: 690px;
}

.top-of-header-right {
    float: right;
}

.bottom-of-header {
    display: block;
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid #ebebeb;
}

.google-products {
    display: inline-flex;
    width: 400px;
    margin-left: 170px;
    justify-content: space-between;
}

.settings-and-tools {
    display: inline-flex;
    width: 150px;
    justify-content: space-around;
    margin-left: 100px;
}

.menu-link {
    color: #5f6368;
    font-size: 13px;
    text-decoration: none;
    vertical-align: middle;
}

.active-link {
    color: rgb(58, 58, 245);
    border-bottom: 2px solid rgb(58, 58, 245);
    height: 38px;
}

#result-estimate {
    line-height: 2rem;
    padding-left: 170px;
    margin-top: 2px;
    font-size: 13px;
    color: rgb(95, 99, 104);
}

.search-results {
    margin-bottom: 35px;
}

.search-result {
    margin-left: 170px;
    margin-bottom: 35px;
    width: 600px;
    font-size: 14px;
}

.search-result p {
    color: #4d5156;
    margin-top: 6px;
}

.search-result a {
    font-size: 20px;
    color: #1a0DAB; 
}

.search-result-full-link {
    color: #202124;
    margin-bottom: 6px;
}

.mensen-vragen-ook {
    margin-bottom: 35px;
    width:650px;
    margin-left: 170px;
}

.mensen-vragen-ook-top {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 44px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.mensen-vragen-ook-middle {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 44px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.mensen-vragen-ook-bottom {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 44px;
    border: 1px solid #ebebeb;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

h1 {
    font-size: 20px;
    margin: 11px auto 11px 10px;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 13px auto 13px 10px;
}

.related-searches {
    margin-left: 170px;
    width: 652px;
}

.related-searches h1 {
    margin-left: 0px;
}

.related-searches-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0px;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    line-height: 30px;
    text-decoration: none
}

ul a {
    text-decoration: none;
}